:root {
  --bg-dark: #1b1b1b;
  --bg-darker: #111;
  --brown: #7a4a2e;
  --brown-light: #a36a3f;
  --gray: #2a2a2a;
  --border: #3a3a3a;
  --text-light: #ffffff;
  --text-muted: #bdbdbd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: var(--bg-dark);
  color: var(--text-light);
}

header {
  background: var(--bg-darker);
  border-bottom: 2px solid var(--border);
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 15px 40px;
  border: 2px solid var(--brown);
  background: var(--gray);
}

nav a {
  color: var(--text-light);
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid var(--border);
  transition: background 0.3s, color 0.3s;
}

nav a:hover {
  background: var(--brown);
}

.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
}

.section-title {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--brown);
  color: var(--brown-light);
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.post-card {
  background: var(--gray);
  border: 2px solid var(--border);
  padding: 25px;
  transition: transform 0.3s, border-color 0.3s;
  word-wrap: break-word;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.post-card:hover {
  transform: translateY(-6px);
  border-color: var(--brown-light);
}

.post-card h3 {
  margin-bottom: 10px;
  word-break: break-word;
}

.post-card p {
  color: var(--text-muted);
  word-break: break-word;
}

.post-card img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 15px;
  border-radius: 5px;
  object-fit: cover;
}
.thumb {
  width: 80%;
  aspect-ratio: 16 / 9;     /*  zawsze ten sam format */
  overflow: hidden;        /* obcina nadmiar */
  border-radius: 6px;
  border: 1px solid var(--border);
  background: #000;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;       /*  SKALUJE I PRZYCINA */
  display: block;
}
.post-card a {
  display: inline-block;
  margin-top: auto;
  padding: 8px 14px;
  border: 1px solid var(--brown-light);
  color: var(--brown-light);
  text-decoration: none;
  padding-top: 15px;
  align-self: flex-start;
}

.post-card a:hover {
  background: var(--brown-light);
  color: #000;
}

article {
  background: var(--gray);
  border: 2px solid var(--brown);
  padding: 40px;
}

footer {
  margin-top: 60px;
  padding: 20px;
  text-align: center;
  border-top: 2px solid var(--border);
  color: var(--text-muted);
}

.nav-link.active {
  background: #a36a3f;
  color: #000;
  padding: 8px 16px;
  border-radius: 5px;

  }





